<!DOCTYPE html>
<html>
<head>
  <title>Contactez-nous - DNC</title>
  <meta charset="UTF-8">
  {% block head %}
    <link rel="stylesheet" href="../style.css" />
  {% endblock %}
</head>
<body>
    
    {% include('navbar.html.twig') %}
    {% for msg in app.flashes('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}    

    {% for msg in app.flashes('error') %}
        <div class="alert alert-error">
            {{ msg }}
        </div>
    {% endfor %}    
    
    <div class="content">
        <div class="contactText left">
            <h1>Contactez-nous</h1>
            <div ="text">
                Notre &eacute;quipe est &agrave; votre &eacute;coute de 9h &agrave; 18h<br/>
                du lundi au vendredi, hors jours fériés.<br/>
                <a class="red">contact@dnc.com</a>
            </div>
            <h2>Nous suivre sur les réseaux sociaux</h2>

            <div class="social">
                <a></a>
                <a></a>
                <a></a>
            </div>
        </div>

        <div class="contactForm right">
            {% include 'form.html.twig' with {'form': form} %}
        </div>
    </div>
</body>
</html>