<div class="theForm">
{{ form_start(form) }}
<h3>Vos coordonn&eacute;es</h3>


<div class="oneField right">
{{ form_label(form.firstname) }}&ast;</br>
{{ form_widget(form.firstname) }}
{{ form_errors(form.firstname) }}
</div>

<div class="oneField">
{{ form_label(form.name) }}&ast;<br/>
{{ form_widget(form.name) }}
{{ form_errors(form.name) }}
</div>

<div class="clear"></div>

<div class="oneField right">
{{ form_label(form.email) }}&ast;</br>
{{ form_widget(form.email) }}
{{ form_errors(form.email) }}
</div>

<div class="oneField">
{{ form_label(form.phone) }}<br/>
{{ form_widget(form.phone) }}
{{ form_errors(form.phone) }}
</div>


 {% if display %}
    <div class="fullField" id="rappel">
    {{ form_label(form.rappel) }}&ast;<br/>
    {% for child in form.rappel %}
        {{ form_widget(child) }}
        {{ form_label(child) }}
        <br />
    {% endfor %}
    {{ form_errors(form.rappel) }}
    </div>
{% endif %}


<h3>Objet de votre demande</h3>
<div class="fullField">
{{ form_label(form.action) }}&ast;<br/>
{{ form_widget(form.action) }}
</div>

<div class="fullField">
{{ form_label(form.message) }}&ast;</br>
{{ form_widget(form.message) }}
{{ form_errors(form.message) }}
</div>

{{ form_errors(form) }}<br/>
{{ form_errors(form.phone) }}

{{ form_end(form) }}

<script>
var elem = document.getElementById('contact_form_action');


elem.addEventListener("change", function() {
if (elem.value == 'etre-rappele') {
    window.location.replace(window.location.href  + '/etre-rappele');
} else {
    if (window.location.href.endsWith('/etre-rappele') ) {
        window.location.replace('/contact-form');
    }
}});

</script>


</div>