<div class="top">
    <div class="left icon">
        DN<span class="red">C</span>.fr
    </div>

    <div class="center">
    </div>

    <div class="right">
        <a class="red">Rechercher un défunt</a>
        <a class="red">Mon Compte</a>
        <a class="red">Mon Panier</a>
    </div>


</div>