body {
    color: #62657b;
    font-family: BreeLight,Arial,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    background-color: #f6f9fd;
    -webkit-font-smoothing: antialiased!important;
    -moz-font-smoothing: antialiased!important;
    -o-font-smoothing: antialiased!important;
    text-rendering: geometricPrecision;
}

.top {
    background: #fff;
    height: 62px;
    width:100%;
}

.alert-success {
    padding: 6px;
    background: lightgreen;
    color: green;
    border: solid green 1px;
}

.alert-error {
    padding: 6px;
    background: lightsalmon;
    color: crimson;
    border: solid red 1px;
}

ul {
    margin:0;
    padding:0;
}

li {
    display:block;
    font-size:9pt;
    color:tomato;
}

.red {
    color: #ff696e;
}

a {
    text-decoration: none;
}

h1 {
    font-family: BreeLight,Arial,sans-serif;
    font-weight: 300;
}

h3 {
    margin-left:30px;
}

.level_0 {
    color: red;
}

.oneField {
    padding-right:3px;
    padding-left:3px;
    padding-top:15px;
    width:43%;

}

#contact_form_action, #contact_form_message {
    background: #fff none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #555;
    font-size: 14px;
    line-height: 21px;
    padding: 8px 16px;
    -webkit-transition: border-color .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
    transition: border-color .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
    border: 1px solid rgba(98,101,123,.25);
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 39px;
    width:95%;
}

#contact_form_message {
    height:207px;
}

#contact_form_action {
    width:100%;
}

.icon {
    font-size:23pt;
    font-weight: 300;
}

.fullField {
    width:90%;

    margin-top:15px;
    padding-right:5px;
    padding-left:5px;
}

.oneField input {
    width:100%;
    height: 39px;
    max-width: 17vw;
    background: #fff none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #555;
    font-size: 16px;
    line-height: 21px;
    padding: 8px 16px;
    border: solid #ccc 1px;
}

.contactText {
    width:40%;
    margin-left:3%;
}

.contactForm {
    background:white;
    width:50%;
    margin-right:3%;
    border-radius: 3px;
    margin-bottom: 24px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding-left:15px;
    padding-right:15px;
}

.left {
    float:left;
}

.right {
    float:right;
}

button {
    padding: 10px 32px;
    font-size: 16px;
    margin: 30px;
    margin-top: 5px;
    line-height: 1.3333333;
    border-radius: 4px;
    height: inherit;
    background: #ff696e;
    border-color: #ff696e;
    color: #fff;
}

.content {
    margin-top:25px;;
}